body {
    font-family: Arial, sans-serif;
    background-image: url('download.jpeg'); /* Set the background image */
    background-size: cover; /* Scale the image to cover the entire background */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    margin: 0;
    padding: 0;
}



header {
    text-align: center;
}

h1 {
    color: #fcfcfc;
    margin: 0;
    font-weight: bold; 
}

p {
    color: #ffffff;
    font-weight: bold; 
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left, .right {
    flex-basis: 48%;
}

.info {
    display: flex;
    flex-direction: column; /* Change flex-direction to column to stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-top: 20px;
}

.center-content {
    text-align: center; /* Center text horizontally */
}

h2 {
    color: #ffffff;
    font-weight: bold; 
    margin-top: 20px; /* Add some spacing between headings and content */
}


.skills {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}




header img {
    border: 5px solid black; 
}
